<!DOCTYPE html>
<html>
<head>
    <title>About Usalama</title>
</head>
<body>
    <h2>About Usalama</h2>
    <nav>
        <a href="{{ url_for('index')}}">Home</a>
    </nav>

    <p><strong>Usalama</strong> is a digital pregnancy companion designed for African mothers, 
    partners, and families. We provide weekly health tips, audio guidance in local languages, 
    symptom alerts, and partner education.</p>

    <p>This app was built by students to support safe, informed motherhood in local communities.</p>
</body>
</html>
