<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard - Usalama</title>
</head>
<body>
    <h2>Welcome, Admin!</h2>
    <p>Hello {{ username }}, this is your dashboard.</p>

    <ul>
        <li><a href="{{ url_for('admin_users') }}">View Users</a></li>
        <li><a href="{{ url_for('add_tip') }}">Upload Health Tips</a></li>
        <li><a href="{{ url_for('view_tips') }}">View Health Tips</a></li>
        <li><a href="{{ url_for('upload_audio') }}">Upload Audio Message</a></li>
        <li><a href="{{ url_for('view_audio') }}">View Audio Tips</a></li>
        <li><a href="{{ url_for('admin_reports') }}">System Reports</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</body>
</html>
