<!DOCTYPE html>
<html>
<head>
    <title>Login - Usalama</title>
</head>
<body>
    <h2>Login</h2>
    <nav>
        <a href="index.html">Home</a>
    </nav>

    <form method="POST" action="/login">
    <label>Email or Username:</label><br>
    <input type="text" name="identifier" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <input type="submit" value="Login">
</form>


    {% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
    <p>Don't have an account? <a href="/register">Register here</a></p>
    <p>Forgot your password? <a href="/reset_password">Reset it here</a></p>
</body>
</html>


